<section>
  <ul class="nav nav-pills">
    <li ng-class="{ active:panel.isSelected(1) }"> <a href ng-click="panel.selectTab(1)">Description</a> </li>
    <li ng-class="{ active:panel.isSelected(2) }"> <a href ng-click="panel.selectTab(2)">Specifications</a> </li>
    <li ng-class="{ active:panel.isSelected(3) }"> <a href ng-click="panel.selectTab(3)">Reviews</a> </li>
  </ul>

  <div class="panel" ng-show="panel.isSelected(1)">
    <h4>Description</h4>
    <blockquote><p>{{product.description}}</p></blockquote>
  </div>
  <div class="panel" ng-show="panel.isSelected(2)">
    <h4>Specifications</h4>
    <blockquote><p>Coming Soon</p></blockquote>
  </div>

  <div class="panel" ng-show="panel.isSelected(3)">
    <h4>Reviews</h4>
    <blockquote ng-repeat="review in product.reviews">
      <b>{{review.stars}} Stars</b><br><br>
      {{review.body}}<br>
      <cite>{{review.author}}</cite>
    </blockquote><br><br>
    <h4>Add Review</h4>

    <form role="form" name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
      <blockquote ng-show="reviewCtrl.review.stars">
        <b>{{reviewCtrl.review.stars}} Stars</b><br><br>
        {{reviewCtrl.review.body}}<br>
        <cite>{{reviewCtrl.review.author}}</cite>
      </blockquote>

      <div class="form-group">
        <label for="stars">Stars: </label>
        <select id="stars" class="form-control" ng-model="reviewCtrl.review.stars" required>
          <option value="1">1 stars</option>
          <option value="2">2 stars</option>
          <option value="3">3 stars</option>
          <option value="4">4 stars</option>
          <option value="5">5 stars</option>
        </select>
      </div>
      <div class="form-group">
        <label for="description">Description: </label>
        <textarea id="description" class="form-control" rows="3" ng-model="reviewCtrl.review.body" required></textarea>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input class="form-control" id="email"ng-model="reviewCtrl.review.author" type="email" placeholder="john@doe.com"required/>
      </div>

      <button type="submit" class="btn btn-default">Submit</button>

    </form>
  </div>
</section>